<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195486109529-3o8mh5he9de3oejps3a58j2c3eu72br3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195486109529-3o8mh5he9de3oejps3a58j2c3eu72br3</string>
	<key>API_KEY</key>
	<string>AIzaSyDLP5-kZVYiSjFlvYicClU4G-6Q5gcVC28</string>
	<key>GCM_SENDER_ID</key>
	<string>195486109529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appoint.co.noty</string>
	<key>PROJECT_ID</key>
	<string>noty-1b9a7</string>
	<key>STORAGE_BUCKET</key>
	<string>noty-1b9a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195486109529:ios:0d677573ede760bfa5c648</string>
</dict>
</plist>